@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
:root {
  --dark-brown: #46211a;
  --light-brown: #693d3d;
  --dark-orange: #a43820;
  --light-orange: #ba5536;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--dark-brown);
}
body {
  font-family: 'Share Tech Mono', monospace;
  height: 100vh;
  width: 100%;
}
/*HEADER*/
.header-wrapper {
  z-index: 1;
  height: 120vh;
  /* hero https://unsplash.com/photos/O0AsEdqEzPQ?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
  background-image: url('../images/ramen-hero.jpg');
  background-size: cover;
  background-position: center center;
  margin-top: -2rem;
}
.header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading {
  text-transform: uppercase;
  font-size: 6rem;
  color: #fff;
  text-align: center;
}
.heading-address {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}
/*******************************************************/
/*Nav bar*/
.nav-bar {
  position: absolute;
  width: 75%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-list {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav-list-item {
  padding: 0 0.2rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}
.nav-list-item:hover {
  text-decoration: underline;
}
.btn-order {
  width: 10rem;
  height: 3rem;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  background-color: #ba5536;
  color: #fff;
  transition: background-color 1s;
  cursor: pointer;
}
.btn-order:hover {
  background-color: #a10000;
}
/*****************************************/
/*logo*/
.logo {
  height: 6rem;
  width: 6rem;
  border: 3px solid black;
  border-radius: 100%;
  background-color: #a10000;
  background-image: url('../images/logo.jpeg');
  background-position: center center;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  cursor: pointer;
}

/*tab*/
/* image https://unsplash.com/photos/24gR_9lCdes?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
/*https://unsplash.com/photos/JCHlsKSgbSk?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
/*FOOTER*/
.footer {
  height: 30vh;
  background-color: rgb(73, 53, 53);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 5rem;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  min-width: 10rem;
}
.social-link {
  font-size: 2rem;
  padding: 0.3rem;
  border-radius: 100%;
  color: var(--light-orange);
  cursor: pointer;
  transition: color 1s;
}
.social-link:hover {
  color: white;
}
/*bowls display*/
.bowls-display {
  padding: 5rem 0 3rem;
  background-color: #851400;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  min-height: 100vh;
  width: 100%;
  /* background-color: #f07b57; */
}
.bowls-title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 5rem;
}
.bowl-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.bowl-item {
  box-sizing: border-box;
  min-height: 15rem;
  width: 25rem;
  padding: 1rem;
  margin: 1rem;
}
.bowl-item-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #eee;
}
.bowl-item-price {
  font-size: 1.7rem;
  color: #efefef;
}
.bowl-toppings {
  font-size: 1.4rem;
  color: #fcfcfc;
}
.bowl-item-topping {
  font-size: 1.1rem;
  color: #fbfbfb;
}

/*banner*/
.banner {
  height: 15rem;
  background-color: var(--dark-brown);
  background-image: url('../images/ramen-kitchen.jpg');
  background-size: cover;
  background-position: 50% 76%;
  opacity: 0.5;
}

.info-banner {
  margin-top: 10rem;
  padding: 2rem 0;
  height: 5rem;
  background-color: #a43820;
  text-align: center;
  color: white;
}
.info-banner-heading {
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}
.info-banner-address {
  font-size: 1.2rem;
}

/*about*/
.about {
  background-color: var(--light-brown);
  padding: 10rem 3rem 10rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h2,
.location h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.about p,
.location p {
  font-size: 1.3rem;
  text-align: justify;
  width: 50%;
}
/**/
.location {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.location p {
  text-align: center;
  font-size: 1.1rem;
}
.mapouter {
  padding: 2rem 0;
}
